@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden !important;
  background: linear-gradient(135deg, #cf9aff, #95c0ff);
}

::-webkit-scrollbar {
  width: 0.2rem;
  border-radius: 0.6rem;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.6rem;
  background-color: #21222c;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #363536;
}

.hide-cursor {
  caret-color: transparent; /* Hides the cursor color */
  color: transparent; /* Hides the text color */
  text-shadow: 0 0 0 black; /* Hides the cursor shadow */
  cursor: not-allowed; /* Disables the cursor */
  user-select: none !important; /* Disable text selection */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari 3.1+ */
  -khtml-user-select: none; /* Konqueror HTML */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-touch-callout: none; /* iOS Safari */
}
